# osx noise
.DS_Store
profile

# Fonts
*.log
master_*/
instance_*/
variable_*/

# Don't track our own generated preview fonts
fonts/HandjetVariable
fonts/HandjetVariablePreview
fonts/HandjetVariableWeb
upload_fonts.sh

# tmp glyphs db
db.pkl

# tmp designspace <instances>
production/instances-tmp.xml

__pycache__