# osx noise
.DS_Store
profile

# Fonts
*.log
master_*/
instance_*/
variable_*/

# Don't track our own generated preview fonts
fonts/Handjet*
upload_fonts.sh

# tmp glyphs db
db.pkl

# tmp designspace <instances>
production/instances-tmp.xml

__pycache__
sources/GlyphData.xml
